#nav-bgImg {
    /* height: 100vh; */
    background-image: linear-gradient(rgb(3, 184, 240), rgba(17, 198, 248, 0.589)), url(./nice-building.jpg);
    /* background-repeat: no-repeat;
    background-position: center; */
    /* background-size: cover; , url(./nice-building.jpg)*/
}

#logo {
    color: rgb(47, 255, 82);
}

#tog {
    background-color: black !important;
    border: solid black !important;
}

.content {
    position: relative;
}

#option-i,
#option-ii {
    position: absolute;
    z-index: 1;
}

#service-btn:hover {
    background-color: rgb(5, 228, 105);
    color: white;
    border: none;
    font-size: large;
}

.hover-txt:hover {
    /* background-color: blue; */
    color: rgb(0, 255, 179);
}

#all-width {
    position: relative;
    margin: auto 5%;
    gap: 10%;
}

#txt-width {
    position: relative;
    font-size: 3em !important;
}

.img-side-txt>li {
    list-style: none;
}

.img-side-txt>li::before {
    content: "\2022";
    color: rgb(5, 202, 169);
    font-weight: bold;
    display: inline-block;
    font-size: 2em;
    width: 1em;
    margin-left: -1em;
}

.h1-txt {
    color: rgb(23, 59, 45);
}

.complex-img {
    background-color: rgba(167, 169, 170, 0.253);
}

.floating-div {
    /* margin-right: -10%; */
    margin-bottom: -5%;
    position: sticky;
}